---
import '@devprotocol/clubs-core/styles'
---

<!doctype html>
<html class="dark" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>

	<body class="m-8">
		<nav class="flex items-center justify-between">
			<slot name="clubs:connect-button" />
		</nav>
		<main class="mt-8 container mx-auto">
			<slot />
		</main>
	</body>
</html>
